@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

/* font-family: 'Mulish', sans-serif; */

:root{
    font-size: 62.5%;

    --blue-header: #065E7C;
    --blue-footer: #387E96;
    --white: #FFFFFF;
    --fonts: #121214;
    --bg-color-logo: #F4FCFF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, input{
    font-family: 'Mulish', sans-serif;
}

body{
    font-size: 1.6rem;
    background-color: var(--white);
}

