@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

/* font-family: 'Mulish', sans-serif; */

:root{
    font-size: 62.5%;

    --blue-header: #065E7C;
    --blue-footer: #387E96;
    --white: #FFFFFF;
    --fonts: #121214;
    --bg-color-logo: #F4FCFF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, input{
    font-family: 'Mulish', sans-serif;
}

body{
    font-size: 1.6rem;
    background-color: var(--white);
}

#app{
    max-width: 430px;
    margin: auto;
}

/* NAV */

nav{
    display: flex;
    align-items: center;
    gap: 2.4rem;   
    padding: 1.2rem 2.8rem; 

    background: var(--blue-header);
}

nav img:first-child{
    background-color: var(--bg-color-logo);
    padding: .8rem;
    border-radius: 50%;
}

nav img:last-child{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}

.input-wrapper input{
    width: 100%;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.20);
    padding: 12px 16px 12px 14px;
    color: var(--white);
}

nav form{
    flex: 1;
}

.input-wrapper input::placeholder{
    color: var(--white);
}

/* main */

main > img{
    width: 100%;
    border-radius: .5rem;
}

#title-box h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%;
}

#title-box{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    margin: .8rem 0 3.2rem;
}

.buttons img{
    background: var(--blue-header);
    padding: 1.2rem;
    border-radius: 4rem;
}

main p{
    line-height: 160%;
}

.text{
    padding: 3.2rem 2.4rem;
}

/* aside */

aside{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 0 2.4rem 4rem;
}

section{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

section img{
    max-width: 15.1rem;
    border-radius: .5rem;
}

.letreiro{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.letreiro h2{
    color: var(--fonts);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%;
}

.letreiro h3{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 160%;
}

.letreiro p{
    font-size: 1.4rem;
    line-height: 160%;
}


/* footer */

footer{
    color: var(--white);
    background: var(--blue-footer);
    padding: 1.6rem;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 400px) {
    section{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:800px){
    #app{
        display: grid;
        grid-template-areas: 
        "nav nav"
        "main aside"
        "footer footer";

        gap: 4rem 3.2rem;
        justify-content: center;
    }

    nav{
        grid-area: nav;
        padding: 1.2rem 11.2rem;
    }

    main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        width: 800px;
        padding: 0 11.2rem 0;
    }

    #title-box{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3.2rem;
    }

    .buttons{
        margin: 0;
    }

    .text{
        padding: 0;
    }

    aside{
        grid-area: aside;
        width: 384px;
        padding: 0;
    }

}